:root {
    --palette-blue: #4ecdc4;
    --palette-black: #292F36;
    --palette-grey: #E3E4E5;
}

.db-content { min-height: 90vh; }

/* navigation bar */
nav { background-color: var(--palette-blue); }

a[href="../login.html"] { color: white; }
a[href="../signup.html"] { color: #292F36; }