:root {
    --palette-blue: #4ecdc4;
    --palette-black: #292F36;
    --palette-grey: #E3E4E5;
}

.db-content { min-height: 90vh; }

/* navigation bar */
nav { background-color: var(--palette-blue); }

#login:hover, #signup:hover, #profile:hover { color: white; }
#signup, #profile, #login { color: #292F36; }
